<h1>Contact</h1>

<p>We are always happy to hear from our customers.</p>

<p> <%= "Phone: #{@phone}" %> </p>

<p> <%= mail_to("syedjubaer997@gmail.com") %></p>

<p> <%= link_to("About", {:action => "about"})%> </p>
